/* ----------------------------------------------------------------------------------
			TITLE OF STYLE SHEET
---------------------------------------------------------------------------------- */

/* +============================+
		A. INTRODUCTION/NOTES:
+=============================+ */
/*

For: Notes, Important things, TODO's, stuff, Tigers, Lions, Bears..., etc.

*/

/* +=============================+
		B. TABLE OF CONTENTS:
+=============================+ */
/*

    A. Notes
    B. Table of Contents

	1. Font Size
		1.1 Base Size
    1.2 Sizes
			1.2.1 Header and Paragraph Tags
      1.2.2 Sizing Classes



*/


/* +=============================+
		1. Font Size
+=============================+ */

/* =-----------------------------=
		1.1 Base Size
*/

html{
	font-size: 14px;
}

body{
	font-size: 1rem;
	@extent .p;
}

/* =-----------------------------=
		1.2 Sizes
*/

//VAR: sets when the font stops scaling
$font-responsive-screen-max: 1100;
$font-responsive-screen-min: 400;


//NOTE: to use this mix in just set the min and max font size you want(in pixels) then it will scale between those fonts as long as the screen size is between the screen min and max variables.
//TODO: should we use px or rem for this mixin??

@mixin font-size ($min-font, $max-font){
	$average-font: (( $min-font + $max-font) / 2);
	font-size: #{$average-font}px; //Fallback incase browsers don't support calc or vw.
    font-size: calc( #{$min-font}px + (#{$max-font} - #{$min-font}) * ( (100vw - #{$font-responsive-screen-min}px) / ( #{$font-responsive-screen-max} - #{$font-responsive-screen-min}) ));
	@media (min-width: #{$font-responsive-screen-max}px){
     font-size: #{$max-font}px;
   }
	@media (max-width: #{$font-responsive-screen-min}px){
     font-size: #{$min-font}px;
   }
}


/*=----------|3.2.1 Header and Paragraph Tags|----------=*/

h1, .h1{
	@include font-size (42, 62)
}

h2, .h2{
	@include font-size(30, 45)
}

h3, .h3{
	@include font-size(25, 35)
}

h4, .h4{
	@include font-size(20, 28)
}

h5, .h5{
	@include font-size(16, 20)
}

h6, .h6{
	@include font-size(12, 16)
}

p, .p{
	@include font-size(14, 16)
}

/*=----------|3.2.2 Sizing Classes|----------=*/


.font-xxl{
	@include font-size(50, 65);
}

.font-xl{
	@include font-size(35, 48)
}

.font-lg{
	@include font-size(20, 30)
}

.font-md{
	@include font-size(15, 18)
}

.font-sm{
	@include font-size(12, 16)
}

.font-xs{
	@include font-size(10, 13)
}

.font-xxs{
	@include font-size(8, 11)
		}
