/* ----------------------------------------------------------------------------------
			Font Weight and Style
---------------------------------------------------------------------------------- */

/* +============================+
		A. INTRODUCTION/NOTES:
+=============================+ */
/*

For: Notes, Important things, TODO's, stuff, Tigers, Lions, Bears..., etc.

*/

/* +=============================+
		B. TABLE OF CONTENTS:
+=============================+ */
/*

    A. Notes
    B. Table of Contents

	1. Font Weight
  2. Style




*/


/* +=============================+
		1. Font Weight
+=============================+ */

.font-thin {
	font-weight: 100;
}

.font-light {
	font-weight: 200
}

.font-normal {
	font-weight: 400;
}

.font-extra-bold {
	font-weight: 800
}

.font-bold, strong {
	font-weight: 600;
}



/* +=============================+
		2. Style
+=============================+ */

.font-italic, em {
	font-style: italic;
}

.font-capitalize {
	text-transform: capitalize;
}

.font-uppercase {
	text-transform: uppercase;
}

.font-lowercase {
	text-transform: lowercase;
}

.font-strike {
	text-decoration: line-through;
}

.font-underline  {
	text-decoration: underline;
}
