/* ----------------------------------------------------------------------------------
			TITLE OF STYLE SHEET
---------------------------------------------------------------------------------- */

/* +============================+
		A. INTRODUCTION/NOTES:
+=============================+ */
/*

For: Notes, Important things, TODO's, stuff, Tigers, Lions, Bears..., etc.

*/

/* +=============================+
		B. TABLE OF CONTENTS:
+=============================+ */
/*

    A. Notes
    B. Table of Contents

	1. Font Color
  2. Font Alignment
  3. Additional Helper Classes


*/


/* +=============================+
		1. Font Color
+=============================+ */

.font-white {
	color: #fff;
}

.font-lighter {
	opacity: .8;
}

.font-gray {
	color: gray;
}

.font-light-gray {
	color: lightgray;
}

.font-black {
	color: #000;
}

/* +=============================+
		2. Font Alignment
+=============================+ */

.font-right {
	text-align: right;
}

.font-left {
	text-align: left;
}

.font-center {
	text-align: center;
}




/* +=============================+
		3. Additional Helper Classes
+=============================+ */

.font-indent {
	text-indent: 15px;
	text-indent: calc(15px + 1vw);
}
