/* ----------------------------------------------------------------------------------
			Site Containers
---------------------------------------------------------------------------------- */

/* +============================+
		A. INTRODUCTION/NOTES:
+=============================+ */
/*

For: Notes, Important things, TODO's, stuff, Tigers, Lions, Bears..., etc.

*/

/* +=============================+
		B. TABLE OF CONTENTS:
+=============================+ */
/*

    A. Notes
    B. Table of Contents

	1. Site Containers
		1.1 Responsive
		1.2 Full Width



*/


/* +=============================+
		1. Site Containers
+=============================+ */


/* =-----------------------------=
		1.1 Responsive
 */

 [data-flex__container="container__responsive"] {
 	margin-left: auto;
 	margin-right: auto;
 	width: 92%;
 	width: 92vw;
 	max-width: $container-max-size;
 }
 @media (max-width: $container-max-size) {
 	[data-flex__container="container__responsive"] {
 		max-width: 92%;
 		max-width: 92vw;
 	}
 }


 /* =-----------------------------=
 		1.2 Full Width
  */


[data-flex__container="container__full-width"] {
	width: 100%;
	width: 100vw;
}
